.ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    color: white;
    text-align: center;
    padding: 30px;
}

.oferta{
    margin-bottom: 50px;
    transition: all 0.4s ease;
    box-shadow: 2px 2px 2px 2px rgba(179, 179, 179, 0.342);
    border-color: #787d83;
    overflow: hidden;
    width: 350px;
    height: 250px;
    transition: all 300ms;
    align-items: center;
}

.oferta img{
    margin-top: 10px;
    margin-left: 10px;
    height: 100px;
    width: 120px;
    float: left;
}

.oferta:hover {
    background-color: rgba(20, 20, 20, 0.651);
    box-shadow: 2px 2px 2px 2px rgba(253, 33, 33, 0.7);
    cursor: pointer;
    transform: scale(1.1);
}

.descripcion {
    font-size: 23px;
    text-align: center;
}

.precio {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.options{
    display: flex;
    justify-content: space-between;
    color: gray;
}

.options h5{
    margin-top: 0;
}

.filter{
    width: 37%;
}

.filter h5{
    width: auto;
    margin-bottom: 10px;
}
.filter label {
    cursor: pointer;
    float: left;
}
.filtros{
    display: none;
    margin-top: 7px;
}

.titulo-filtros{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/* .fa-chevron-down{
    margin-left: 40px;
} */

.span-filtros{
    font-size: 0.83em;
    font-weight: bold;
    float:left;
}

.order-by{
    color: gray;
    height: 50%;
    display: flex;
}

.order-by select{
    background: transparent;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid #b1afaf;
    bottom: 0;
    color: gray;
    margin-left: 6px;
}

.order-by h5{
    margin:0;
}