.tiendas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 98%;
    height: 100%;
}

.tienda{
    margin-bottom: 50px;
    margin-left: 10px;
    transition: all 0.4s ease;
    box-shadow: 2px 2px 2px 2px rgba(179, 179, 179, 0.342);
    border-radius: 50%;
    border-color: #787d83;
    overflow: hidden;
    width: 120px;
    height: 100px;
    transition: all 300ms;
}

.tienda:hover {
    background-color: rgba(20, 20, 20, 0.651);
    box-shadow: 2px 2px 2px 2px rgba(253, 33, 33, 0.7);
    cursor: pointer;
    transform: scale(1.1);
}

.tienda img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .tienda{
        width: 250px;
        height: 180px;
    }
}

@media (min-width: 1024px) {
    .tienda{
        width: 280px;
        height: 250px;
    }
}