ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: rgb(253, 253, 253);
    padding: 8px 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

ul.pagination li a.active {
    color: #ff0000e3;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
    color: rgba(226, 226, 226, 0.685);
}

.spanPuntos {
    letter-spacing: 2px;
    padding: 0px 3px;
}